.cart {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 466px;
    height: 100vh;
    padding: 40px 0 30px;
    background: #FFFFFF;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1000;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    transition: all .3s ease-in-out;
}
.cart hr {
    width: 100%;
    border: 1px solid #edebeb;
    margin: 0;
}
.cart .title {
    font-family: var(--font-gilr);
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #333333;
    padding-bottom: 30px;
}
.cart .elements-order {
    height: 100%;
    width: 100%;
    padding: 0 7px;
    overflow-y: auto;
}
.cart .elements-order .element-o {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 79px;
}
.cart .elements-order .element-o img {
    width: 117px;
}
.cart .elements-order .element-o .el-title-all {
    padding-left: 10px;
}
.cart .elements-order .element-o .el-title {
    font-family: var(--font-gilr);
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #333333;
}
.cart .elements-order .element-o .el-weight {
    font-family: var(--font-gilr);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #333333;
    padding-top: 5px;
}
.cart .elements-order .element-o .el-price {
    font-family: var(--font-gilr);
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 35px;
    text-align: center;
    color: #333333;
    margin: 0 0 0 auto;
}
.cart .elements-order .element-o .el-all {
    display: flex;
    align-items: center;
    margin-left: auto;
    justify-content: space-between;
    width: 100%;
    max-width: 205px;
}
.cart .elements-order .element-o .el-bord {
    width: 77px;
    height: 28px;
    background: transparent;
    border: 0.568669px solid #EB1C23;
    border-radius: 2.84335px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.cart .elements-order .element-o .el-bord button {
    cursor: pointer;
    background: transparent;
    border: none;
    outline: unset;
    font-family: var(--font-gilr);
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    text-align: center;
    color: #333333;
}
.cart .elements-order .element-o .el-total {
    font-family: var(--font-gilr);
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    text-align: center;
    color: #EB1C23;
}
.cart .order {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cart .order hr {
    width: 100%;
    border: 1px solid #F7F7F7;
    margin: 0;
}
.cart .order .total_price {
    padding: 28px 0 31px;
    font-family: var(--font-gilr);
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #333333;
}
.cart .order form {
    width: 100%;
    max-width: 244px;
    border-radius: 6px !important;
    -webkit-border-radius: 6px !important;
}
.cart .order input {
    margin: 0 auto;
    display: block;
    cursor: pointer;
    width: 100%;
    max-width: 244px;
    height: 61px;
    background: #EB1C23;
    border-radius: 6px !important;
    -webkit-border-radius: 6px !important;
    border: 2px solid #EB1C23;
    outline: none;
    font-family: var(--font-gilr);
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    -webkit-appearance: none;
}
.cart .order button {
    margin: 0 auto;
    display: block;
    cursor: pointer;
    width: 100%;
    max-width: 244px;
    height: 61px;
    background: transparent;
    border-radius: 6px !important;
    -webkit-border-radius: 6px !important;
    border: 2px solid #EB1C23;
    outline: none;
    font-family: var(--font-gilr);
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #333333;
    -webkit-appearance: none;
}
.cart .order input:hover {
    background: transparent;
    color: #000000;
    border-radius: 6px !important;
    -webkit-border-radius: 6px !important;
}
.cart .order .continue {
    margin-top: 20px;
}
.overflow {
    cursor: pointer;
    position: fixed;
    width: 100%;
    height: 100vh;
    right: 0;
    bottom: 0;
    left: 0;
    top: 0;
    z-index: 999;
    background: rgba(0, 0, 0, 0.6);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
}
.cart.show {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
}
.overflow.show {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
}
/* modal */
.modal {
    display: none;
}
.modal.show {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 100vh;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
    -webkit-backdrop-filter: blur(45px);
    backdrop-filter: blur(45px);
}
.modal .title {
    font-family: var(--font-gilr);
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 42px;
    color: #FFFFFF;
}
.modal form {
    padding-top: 70px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    max-width: 721px;
}
.modal form button {
    cursor: pointer;
    width: 100%;
    max-width: 187px;
    height: 56px;
    background: rgba(235, 28, 35, 0.15);
    border: 1px solid #EB1C23;
    border-radius: 6px;
    text-align: center;
    font-family: var(--font-gilr);
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
}
/* Header */
header {
    padding: 40px 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
}
header.fixed {
    background:#080707;
    position: fixed;
}
header .header__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header .logo {
    text-decoration: none;
    display: flex;
    align-items: center;
}
header .logo .ch-city {
    padding-left: 30px;
    cursor: pointer;
    text-decoration: underline;
    font-family: var(--font-gilr);
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #FFFFFF;
}
header nav {
    width: 100%;
    max-width: 706px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .nav__link {
    text-decoration: none;
    font-family: var(--font-gilr);
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #FFFFFF;
}
header .cart-lang {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 164px;
}
header .lang {
    cursor: pointer;
    font-family: var(--font-gilr);
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
    background: transparent;
    outline: unset;
    border: none;
}
header .lang option {
    background: #080707;
    font-family: var(--font-gilr);
    font-style: normal;
    font-weight: 500;
}
header .cart-lang img {
    cursor: pointer;
}
#icon-cart.animate {
    animation-name: myAnimation;
    animation-duration: .7s;
    animation-delay: 0s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
}
@keyframes myAnimation {
    0% { transform: scale(1); }
    50% { transform: scale(1.2); }
    100% { transform: scale(1); }
}
header .burger {
    display: none;
}
/* Main */
.intro .carousel_slides {
    position: absolute;
    display: flex;
    width: 400%;
    height: 100%;
    left: 0;
    transition: transform 2s linear;
    -webkit-transition: transform 2s linear;
    -moz-transition: transform 2s linear;
    -ms-transition: transform 2s linear;
    -o-transition: transform 2s linear;
}
.intro .carousel_slides .carousel-slide::after {
    display: block;
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: #080707;
    opacity: 0.35;
    width: 100%;
    height: 100%;
}
.intro .carousel_slides .carousel-slide {
    flex: 1;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.intro {
    overflow-x: hidden !important;
    display: flex;
    position: relative;
    justify-content: start;
    align-items: center;
    width: 100%;
    height: 100vh;
    max-height: 1000px;
}
.intro::after {
    display: block;
    content: '';
    position: absolute;
    bottom: 0;
    z-index: 1;
    left: 0;
    right: 0;
    background: linear-gradient(transparent, #080707);
    opacity: 0.95;
    width: 100%;
    height: 50px;
}
.intro__inner {
    position: relative;
    margin: 0;
}
.intro__inner .title {
    font-family: var(--font-gilr);
    font-style: normal;
    font-weight: 600;
    font-size: 38px;
    line-height: 47px;
    color: #FFFFFF;
    max-width: 710px;
}
.intro__inner .text {
    width: 100%;
    max-width: 638px;
    padding: 30px 0 60px;
    font-family: var(--font-gilr);
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.05em;
    color: rgba(255, 255, 255, 0.85);
}
.intro__inner button {
    width: 100%;
    max-width: 244px;
    height: 58px;
    background: #EB1C23;
    border-radius: 6px;
    font-family: var(--font-gilr);
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 25px;
    color: #FFFFFF;
    outline: unset;
    border: none;
    cursor: pointer;
}
.intro__inner .info {
    padding-top: 40px;
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 665px;
}
.intro__inner .info img {
    margin-right: 10px;
}
.intro__inner .info .num {
    text-decoration: none;
    font-family: var(--font-gilr);
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #DDDDDD;
    display: flex;
    align-items: center;
}   
.intro__inner .info .address {
    font-family: var(--font-gilr);
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #DDDDDD;
    display: flex;
    align-items: center;
    padding-left: 30px;
} 
.intro .dots {
    display: flex;
    position: absolute;
    bottom: 50px;
    align-items: center;
    justify-content: space-between;
    left: 50%;
    width: 100%;
    max-width: 130px;
    transform: translateX(-50%);
}
.intro .dots .dot {
    cursor: pointer;
    width: 24px;
    height: 24px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.4);
    border-radius: 50%;
}
.intro .dots .dot.active {
    background: #EB1C23;
    border: 2px solid #EB1C23;
}
.intro__inner .name {
    white-space: nowrap;
    writing-mode: vertical-lr;
    position: absolute;
    right: 0;
    top: -5%;
    font-family: var(--font-gilr);
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #FFFFFF;
}
.intro__inner .name img {
    margin: 10px 0;
}
/* menu */
.menu {
    padding: 132px 0 78px;
}
.menu .choose {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px 0;
}
.menu .choose button {
    padding-left: 30px;
    cursor: pointer;
    width: 100%;
    max-width: 244px;
    height: 58px;
    background: transparent;
    border: 1.99996px solid #EB1C23;
    border-radius: 45.9991px;
    font-family: var(--font-gilr);
    font-style: normal;
    font-weight: 600;
    font-size: 17.9996px;
    line-height: 22px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
}
.menu .choose button img {
    margin-right: 20px;
}
.menu .choose button.active {
    background: #EB1C23;
}
.menu .choose button:hover {
    background: #EB1C23;
}
.menu .grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 67px 87px;
    padding: 115px 0 50px;
}
/* .menu .grid-container .sushi-block:nth-child(n+7) {
    display: none;
} */
.menu .grid-container .sushi-block {
    padding: 10px 50px 40px;
    width: 100%;
    min-height: 478px;
    background: rgba(255, 255, 255, 0.05);
    border: 1.49997px solid rgba(255, 255, 255, 0.7);
    border-radius: 14.9997px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.menu .grid-container .sushi-block img {
    width: 100%;
    margin-top: 10px;
}
.menu .grid-container .sushi-block .sushi-title {
    padding-top: 15px;
    font-family: var(--font-gilr);
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 39px;
    text-align: center;
    color: #FFFFFF;
}
.menu .grid-container .sushi-block .sushi-text {
    padding: 20px 0 40px;
    font-family: var(--font-gilr);
    font-style: normal;
    font-weight: 500;
    font-size: 17.9996px;
    line-height: 21px;
    color: rgba(255, 255, 255, 0.78);
}
.menu .grid-container .sushi-block .sushi-down {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}
.menu .grid-container .sushi-block .sushi-down .sushi-down-all {
    display: flex;
    align-items: baseline;
}
.menu .grid-container .sushi-block .sushi-price {
    font-family: var(--font-gilr);
    font-style: normal;
    font-weight: 600;
    font-size: 35.9993px;
    line-height: 44px;
    color: #EB1C23;
}
.menu .grid-container .sushi-block .sushi-weight {
    padding-left: 7px;
    font-family: var(--font-gilr);
    font-style: normal;
    font-weight: 500;
    font-size: 17.9996px;
    line-height: 21px;
    color: rgba(255, 255, 255, 0.78);
}
.menu .grid-container .sushi-block .sushi-down .sushi-buttons {
    display: flex;
    align-items: center; 
}
.menu .grid-container .sushi-block .sushi-down .sushi-button {
    cursor: pointer;
    width: 30px;
    height: 30px;
    background: transparent;
    border: 0.424992px solid #FFFFFF;
    border-radius: 50%;
    outline: unset;
    font-family: var(--font-gilr);
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 20px;
    padding: 0;
    text-align: center;
    color: #FFFFFF;
}
.menu .show {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
    max-width: 260px;
    height: 58px;
    background: #EB1C23;
    border: 1px solid #000000;
    border-radius: 13px;
    text-align: center;
    font-family: var(--font-gilr);
    font-style: normal;
    font-weight: 500;
    font-size: 17.9996px;
    line-height: 21px;
    color: rgba(255, 255, 255, 0.78);
}
.menu .show img {
    margin-left: 20px;
}
/* information */
.information {
    padding: 80px 0;
}
.info__inner {
    display: flex;
    justify-content: space-between;
}
.info__block {
    width: fit-content;
}
.info__block .title {
    font-family: var(--font-gilr);
    font-style: normal;
    font-weight: 600;
    font-size: 47.9991px;
    line-height: 59px;
    color: #FFFFFF;
}
.info__block .min-block {
    display: flex;
    align-items: center;
    padding-top: 80px;
}
.info__block .min-block img {
    margin-right: 40px;
}
.info__block .min-block .t-title {
    font-family: var(--font-gilr);
    font-style: normal;
    font-weight: 700;
    font-size: 29.9994px;
    line-height: 37px;
    color: #EB1C23;
    padding-bottom: 10px;
}
.info__block .min-block .t-text {
    text-decoration: none;
    font-family: var(--font-gilr);
    font-style: normal;
    font-weight: 500;
    font-size: 17.9996px;
    line-height: 21px;
    color: #FFFFFF;
    width: 100%;
    max-width: 505px;
}
.info__block .min-block .t-text a {
    display: block;
    margin-bottom: 10px;
    text-decoration: none;
    color: #FFFFFF;
}
/* footer */
footer {
    padding: 40px 0 25px;
}
.footer__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer__inner .footer__block:nth-child(1) {
    width: fit-content;
}
.footer__inner .footer__block:nth-child(2) {
    width: 100%;
    max-width: 595px;
}
.footer__inner .footer__block:nth-child(3) {
    width: fit-content;
}
.footer__inner .footer__block .title {
    font-family: var(--font-gilr);
    font-style: normal;
    font-weight: 700;
    font-size: 23.9995px;
    line-height: 30px;
    color: #FFFFFF;
    padding-bottom: 10px;
}
.footer__inner .footer__block .text {
    font-family: var(--font-gilr);
    font-style: normal;
    font-weight: 500;
    font-size: 17.9996px;
    line-height: 21px;
    color: rgba(255, 255, 255, 0.76);
    padding-top: 20px;
}
.footer__inner .footer__block nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.footer__inner .footer__block nav a {
    text-decoration: none;
    font-family: var(--font-gilr);
    font-style: normal;
    font-weight: 500;
    font-size: 19.9996px;
    line-height: 24px;
    color: #FFFFFF;
}
.footer__inner .footer__block .buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 595px;
    padding-top: 40px;
}
.footer__inner .footer__block .buttons button {
    cursor: pointer;
    width: 100%;
    max-width: 244px;
    height: 54px;
    border: 1px solid #EB1C23;
    border-radius: 5.99988px;
    font-family: var(--font-gilr);
    font-style: normal;
    font-weight: 500;
    font-size: 17.9996px;
    line-height: 21px;
    color: #FFFFFF;
    text-align: center;
    background: transparent;
}
.footer__inner .footer__block .buttons form {
    width: 100%;
    max-width: 244px;
    border-radius: 6px !important;
    -webkit-border-radius: 6px !important;
}
.footer__inner .footer__block .buttons input[type="submit"] {
    cursor: pointer;
    width: 100%;
    max-width: 244px;
    height: 54px;
    border: 1px solid #EB1C23;
    border-radius: 6px !important;
    -webkit-border-radius: 6px !important;
    font-family: var(--font-gilr);
    font-style: normal;
    font-weight: 500;
    font-size: 17.9996px;
    line-height: 21px;
    color: #FFFFFF;
    text-align: center;
    background: #EB1C23;
    -webkit-appearance: none;
}
.footer__inner .footer__block .buttons input[type="submit"]:hover {
    background: transparent;
}
.footer__inner .footer__block .insta {
    text-decoration: none;
    display: flex;
    align-items: center;
    font-family: var(--font-gilr);
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
}
.footer__inner .footer__block .tel {
    padding-top: 54px;
    text-decoration: none;
    display: flex;
    align-items: center;
    font-family: var(--font-gilr);
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
}
.footer__inner .footer__block img {
    margin-right: 20px;
}
footer hr {
    border: 1px solid rgba(255, 255, 255, 0.13);
    margin: 96px 0 25px;
}
footer .rule {
    font-family: var(--font-gilr);
    font-style: normal;
    font-weight: 600;
    font-size: 17.9996px;
    line-height: 22px;
    color: rgba(255, 255, 255, 0.52);
    text-align: center;
}
footer .rule-mt {
    margin-top: 10px;
    display: block;
}
@media (max-width: 1440px) {
    /* cart */
    .cart {
        max-width: 270px;
        padding: 21px 0 15px;
    }
    .cart .title {
        font-size: 13px;
        line-height: 16px;
    }
    .cart .elements-order .element-o {
        min-height: 42px;
    }
    .cart .elements-order .element-o img {
        width: 62px;
    }
    .cart .elements-order .element-o .el-title {
        font-size: 11px;
        line-height: 13px;
    }
    .cart .elements-order .element-o .el-weight {
        font-size: 9px;
        line-height: 10px;
        padding-top: 2px;
    }
    .cart .elements-order .element-o .el-price {
        font-size: 16px;
        line-height: 19px;
    }
    .cart .elements-order .element-o .el-all {
        max-width: 115px;
    }
    .cart .elements-order .element-o .el-bord {
        width: 41px;
        height: 15px;
    }
    .cart .elements-order .element-o .el-total {
        font-size: 9px;
        line-height: 10px;
    }
    .cart .elements-order .element-o .el-bord button {
        font-size: 9px;
        line-height: 9px;
    }
    .cart .order .total_price {
        font-size: 11px;
        line-height: 13px;
        padding: 14px 0 16px;
    }
    .cart .order form {
        max-width: 130px;
    }
    .cart .order input {
        max-width: 130px;
        height: 32px;
        font-size: 10px;
        line-height: 11px;
    }
    .cart .order button {
        max-width: 130px;
        height: 32px;
        font-size: 10px;
        line-height: 11px;
    }
    .cart .order .continue {
        margin-top: 10px;
    }
    /* modal */
    .modal .title {
        font-size: 19px;
        line-height: 22px;
    }
    .modal form button {
        max-width: 100px;
        height: 30px;
        font-size: 13px;
        line-height: 15px;
    }
    .modal form {
        max-width: 420px;
        padding-top: 30px;
    }
    /* header */
    header {
        padding: 26px 0;
    }
    header .nav__link {
        font-size: 10px;
        line-height: 12px;
    }
    header nav {
        max-width: 378px;
    }
    header .cart-lang img {
        max-width: 33px;
    }
    header .lang {
        font-size: 12.8px;
        line-height: 15px;
    }
    header .cart-lang {
        max-width: 90px;
    }
    header .logo img {
        max-width: 50px;
    }
    header .logo .ch-city {
        padding-left: 20px;
        font-size: 10px;
        line-height: 12px;
    }
    /* intro */
    .intro__inner .title {
        font-size: 20px;
        line-height: 25px;
        max-width: 375px;
    }
    .intro__inner .text {
        font-size: 11px;
        line-height: 13px;
        max-width: 330px;
        padding: 15px 0 30px;
    }
    .intro__inner button {
        max-width: 131px;
        height: 31px;
        font-size: 11px;
        line-height: 13px;
    }
    .intro__inner .info {
        padding-top: 12px;
        max-width: 360px;
    }
    .intro__inner .info .num {
        font-size: 10px;
        line-height: 12px;
    }
    .intro__inner .info .address {
        font-size: 10px;
        line-height: 12px;
    }
    .intro__inner .info img {
        max-width: 17px;
        margin-right: 5px;
    }
    .intro__inner .name {
        font-size: 9.6px;
        line-height: 11px;
    }
    .intro__inner .name img {
        height: 100px;
        margin: 7px;
    }
    /* menu */
    .menu {
        padding: 70px 0 40px;
    }
    .menu .choose button {
        padding-left: 13px;
        max-width: 130px;
        height: 30px;
        font-size: 9.59981px;
        line-height: 12px;
    }
    .menu .choose button img {
        max-width: 20px;
        margin-right: 12px;
    }
    /* grid */
    .menu .grid-container {
        grid-gap: 35px 50px;
        padding: 60px 0 26px;
    }
    .menu .grid-container .sushi-block {
        min-height: 254px;
        padding: 3px 26px 21px;
        border-radius: 8px;
    }
    .menu .grid-container .sushi-block img {
        width: 100%;
    }
    .menu .grid-container .sushi-block .sushi-title {
        padding-top: 10px;
        font-size: 17px;
        line-height: 21px;
    }
    .menu .grid-container .sushi-block .sushi-text {
        padding: 10px 0 20px;
        font-size: 10px;
        line-height: 11px;
    }
    .menu .grid-container .sushi-block .sushi-price {
        font-size: 19.1996px;
        line-height: 24px;
    }
    .menu .grid-container .sushi-block .sushi-weight {
        padding-left: 4px;
        font-size: 10px;
        line-height: 11px;
    }
    .menu .show {
        max-width: 140px;
        height: 31px;
        font-size: 10px;
        line-height: 11px;
        border-radius: 7px;
    }
    .menu .show img {
        margin-left: 12px;
        max-width: 6px;
    }
    /* information */
    .information {
        padding: 42px;
    }
    .info__block .title {
        font-size: 26px;
        line-height: 31px;
    }
    .info__block .min-block .t-title {
        font-size: 16px;
        line-height: 20px;
        padding-bottom: 6px;
    }
    .info__block .min-block img {
        margin-right: 20px;
        max-width: 25px;
    }
    .info__block .min-block .t-text {
        max-width: 270px;
        font-size: 10px;
        line-height: 11px;
    }
    .info__block .min-block .t-text a {
        margin-bottom: 5px;
    }
    .info__block .min-block {
        padding-top: 46px;
    }
    /* footer */
    footer {
        padding: 21px 0 15px;
    }
    .footer__inner .footer__block .title {
        font-size: 13px;
        line-height: 16px;
        padding-bottom: 6px;
    }
    .footer__inner .footer__block .text {
        padding-top: 10px;
        font-size: 10px;
        line-height: 11px;
    }
    .footer__inner .footer__block:nth-child(2) {
        max-width: 317px;
    }
    .footer__inner .footer__block nav a {
        font-size: 11px;
        line-height: 13px;
    }
    .footer__inner .footer__block .buttons {
        max-width: 317px;
        padding-top: 24px;
    }
    .footer__inner .footer__block .buttons button {
        max-width: 130px;
        height: 29px;
        font-size: 10px;
        line-height: 11px;
    }
    .footer__inner .footer__block .buttons form {
        width: 100%;
        max-width: 130px;
    }
    .footer__inner .footer__block .buttons input[type="submit"] {
        max-width: 130px;
        height: 29px;
        font-size: 10px;
        line-height: 11px;
    }
    .footer__inner .footer__block .insta {
        font-size: 9.6px;
        line-height: 11px;
    }
    .footer__inner .footer__block .tel {
        font-size: 9.6px;
        line-height: 11px;
        padding-top: 30px;
    }
    .footer__inner .footer__block img {
        margin-right: 11px;
        max-width: 10px;
    }
    footer hr {
        margin: 50px 0 13px;
    }
    footer .rule {
        font-size: 10px;
        line-height: 12px;
    }
}
@media (max-width: 768px) {
    /* cart */
    .cart {
        max-width: 308px;
        padding: 30px 0 50px;
    }
    .cart .title {
        font-size: 20px;
        line-height: 25px;
    }
    .cart .elements-order {
        padding: 0 15px;
    }
    .cart .elements-order .element-o {
        min-height: 45px;
    }
    .cart .elements-order .element-o img {
        width: 67px;
    }
    .cart .elements-order .element-o .el-title {
        font-size: 12px;
        line-height: 14px;
    }
    .cart .elements-order .element-o .el-weight {
        padding-top: 1px;
    }
    .cart .elements-order .element-o .el-price {
        font-size: 17px;
        line-height: 20px;
    }
    .cart .elements-order .element-o .el-all {
        max-width: 125px;
    }
    .cart .elements-order .element-o .el-bord {
        width: 44px;
        height: 16px;
    }
    .cart .elements-order .element-o .el-total {
        font-size: 9px;
        line-height: 11px;
    }
    .cart .elements-order .element-o .el-bord button {
        font-size: 9px;
        line-height: 9px;
    }
    .cart .order .total_price {
        font-size: 13px;
        line-height: 15px;
        padding: 18px 0 21px;
    }
    .cart .order form {
        max-width: 161px;
    }
    .cart .order input {
        max-width: 161px;
        height: 40px;
        font-size: 12px;
        line-height: 14px;
    }
    .cart .order button {
        max-width: 161px;
        height: 40px;
        font-size: 12px;
        line-height: 14px;
    }
    .cart .order .continue {
        margin-top: 13px;
    }
    /* modal */ 
    .modal .title {
        font-size: 24px;
        line-height: 28px;
    }
    .modal form {
        padding-top: 20px;
        flex-direction: column;
        width: 100%;
        max-width: 238px;
    }
    .modal form button {
        margin-top: 25px;
        max-width: 154px;
        height: 47px;
        font-size: 16px;
        line-height: 19px;
    }
    /* header */
    header {
        padding: 27px 0 20px;
        background: #080707;
        position: fixed;
    }
    header .container {
        max-width: none;
    }
    header .logo img{
        max-width: 45px;
    }
    header .logo .ch-city {
        padding-left: 20px;
        font-size: 13px;
        line-height: 16px;
    }
    header nav {
        display: none;
        transition: all .2s ease-in-out;
        max-width: unset;
    }
    header .nav__link {
        font-size: 20px;
        line-height: 23px;
    }
    header nav.active {
        padding-bottom: 20px;
        position: absolute;
        left: 0;
        top: 100%;
        width: 100%;
        background: #080707;
        display: flex;
        flex-direction: column;
    }
    header nav.active .nav__link {
        padding: 10px 0;
    }
    header .lang {
        font-size: 12px;
        line-height: 14px;
    }
    header .cart-lang {
        max-width: 143px;
    }
    header .cart-lang img {
        max-width: 31px;
    }
    header .burger {
        cursor: pointer;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        flex-direction: column;
        width: 36px;
        height: 25px;
    }
    header .burger__menu:nth-child(1) {
        display: block;
        position: absolute;
        top: 0;
        width: 36px;
        height: 5px;
        background: rgba(255, 255, 255, 0.9);
        border-radius: 7px;
        transition: all .2s ease-in-out;
    }
    header .burger__menu:nth-child(2) {
        display: block;
        width: 21px;
        height: 5px;
        background: rgba(255, 255, 255, 0.9);
        border-radius: 7px;
    }
    header .burger__menu:nth-child(3) {
        display: block;
        position: absolute;
        bottom: 0;
        width: 31px;
        height: 5px;
        background: rgba(255, 255, 255, 0.9);
        border-radius: 7px;
        transition: all .2s ease-in-out;
    }
    header .burger.active .burger__menu:nth-child(1) {
        transform: rotate(-45deg) translateY(-50%);
        top: 50%;
        left: 2px;
    }
    header .burger.active .burger__menu:nth-child(2) {
        display: none;
    }
    header .burger.active .burger__menu:nth-child(3) {
        width: 36px;
        transform: rotate(45deg) translateY(-30%);
        bottom: 30%;
    }
    /* intro */
    .intro__inner {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .intro__inner .title {
        font-size: 20px;
        line-height: 25px;
        max-width: 350px;
    }
    .intro__inner .text {
        font-size: 13px;
        line-height: 15px;
        max-width: 348px;
        padding: 15px 0 30px;
    }
    .intro__inner button {
        max-width: 212px;
        height: 49px;
        font-size: 20px;
        line-height: 25px;
    }
    .intro__inner .name {
        display: none;
    }
    .intro__inner .info {
        padding-top: 15px;
        flex-direction: column;
    }
    .intro__inner .info img {
        max-width: 20px;
    }
    .intro__inner .info .num {
        font-size: 13px;
        line-height: 15px;
    }
    .intro__inner .info .address {
        font-size: 13px;
        line-height: 15px;
        padding-left: unset;
    }
    .intro .dots {
    max-width: 100px;
    }
    .intro .dots .dot {
        width: 16px;
        height: 16px;
    }
    .intro .carousel_slides .carousel-slide:nth-child(2) {
        background-image: url('/assets/images/7X5A2886.jpg') !important;
    }
    .intro .carousel_slides .carousel-slide:nth-child(1) {
        background-image: url('/assets/images/7X5A2768.jpg') !important;
    }
    /* menu */
    .menu {
        padding: 40px 0 45px;
    }
    .menu .choose button {
        max-width: 162px;
        height: 39px;
        font-size: 12px;
        line-height: 15px;
        padding-left: 20px;
    }
    .menu .choose button img {
        margin-right: 14px;
        max-width: 25px;
    }
    .menu .grid-container {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px 10px;
        padding: 28px 0;
    }
    .menu .grid-container .sushi-block {
        min-height: 225px;
        padding: 3px 15px 15px;
        border-radius: 5.72143px;
    }
    .menu .grid-container .sushi-block img {
        width: 100%;
    }
    .menu .grid-container .sushi-block .sushi-title {
        padding-top: 12px;
        font-size: 16px;
        line-height: 20px;
    }
    .menu .grid-container .sushi-block .sushi-text {
        padding: 7px 0 21px;
        font-size: 9px;
        line-height: 10px;
        font-weight: 400;
    }
    .menu .grid-container .sushi-block .sushi-price {
        font-size: 18px;
        line-height: 22px;
    }
    .menu .grid-container .sushi-block .sushi-weight {
        padding-left: 2px;
        font-size: 10px;
        line-height: 12px;
    }
    .menu .grid-container .sushi-block .sushi-down .sushi-button {
        width: 20px;
        height: 20px;
        font-size: 13px;
        line-height: 20px;
    }
    .menu .show {
        max-width: 183px;
        height: 41px;
        font-size: 13px;
        line-height: 15px;
    }
    .menu .show img {
        margin-left: 12px;
        max-width: 9px;
    }
    /* info */
    .information {
        padding: 10px 0 70px;
    }
    .info__inner {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .info__block:nth-child(2) {
        padding-top: 50px;
    }
    .info__block .title {
        font-size: 28px;
        line-height: 34px;
    }
    .info__block .min-block .t-title {
        font-size: 24px;
        line-height: 30px;
    }
    .info__block .min-block .t-text {
        font-size: 17.9996px;
        line-height: 21px;
        max-width: 348px;
    }
    .info__block .min-block .t-text a {
        margin-bottom: 10px;
    }
    .info__block .min-block {
        padding-top: 40px;
        flex-direction: column;
    }
    .info__block .min-block img {
        max-width: 48px;
        margin: 0 0 20px;
    }
    /* footer */
    .t-text-w {
        max-width: 227px !important;
    }
    footer {
        padding: 25px 0 15px;
    }
    .footer__inner {
        flex-wrap: wrap;
        align-items: flex-start;
    }
    .footer__inner .footer__block:nth-child(2) {
        order: 3;
        margin: 40px auto 0;
    }
    .footer__inner .footer__block nav a {
        font-size: 16px;
        line-height: 19px;
    }
    .footer__inner .footer__block .buttons button {
        font-size: 11px;
        line-height: 13px;
        max-width: 144px;
        height: 36px;
    }
    .footer__inner .footer__block .buttons form {
        width: 100%;
        max-width: 144px;
    }
    .footer__inner .footer__block .buttons input[type="submit"] {
        max-width: 144px;
        height: 36px;
        font-size: 11px;
        line-height: 13px;
    }
    .footer__inner .footer__block .buttons {
        flex-direction: column;
        padding-top: 30px;
    }
    .footer__inner .footer__block .buttons input[type="submit"] {
        margin-bottom: 16px;
    }
    .footer__inner .footer__block .title {
        font-size: 14px;
        line-height: 17px;
        padding-bottom: 2px;
    }
    .footer__inner .footer__block .text {
        font-size: 11px;
        line-height: 13px;
        padding-top: 8px;
    }
    .footer__inner .footer__block .tel {
        padding-top: 20px;
        font-size: 11px;
        line-height: 13px;
    }
    .footer__inner .footer__block .insta {
        font-size: 11px;
        line-height: 13px;
    }
    footer hr {
        margin: 40px 0 15px;
    }
    footer .rule {
        font-weight: 500;
        font-size: 13px;
        line-height: 15px;
    }
}